_UpgradeReport_Files/
bin/
obj/
ClientBin/
App_Data/
[Oo]utput/
ipch/
[Ii]ntermediate/
[Pp]ackages/
_Resharper*
*.user
*.suo
*.opensdf
*.sdf
*.filters
*.psess
*.vspx
*.exe
*.dll
*.xap
*.zip
UpgradeLog.htm
UpgradeLog.XML
[Tt]ools/[Cc]ake/