<#
    // Whenever this file is saved the files in the Includes section is downloaded
    // from GitHub (you can download from other websources by changing rootpath)
    RootPath    = @"https://raw.github.com/";
    Namespace   = "WCOM.SqlBulkSync"         ;   // The downloaded content is wrapped in this namespace
    Includes    = new []
        {
            // Include the basic extension from T4Include
            Include (@"mrange/T4Include/master/Extensions/BasicExtensions.cs"),
            Include (@"mrange/T4Include/master/Common/SubString.cs"),
            Include (@"mrange/T4Include/master/Common/Array.cs"),
            Include (@"mrange/T4Include/master/Extensions/ParseExtensions.cs"),
            Include (@"mrange/T4Include/master/Extensions/EnumParseExtensions.cs"),
            Include (@"mrange/T4Include/master/Reflection/StaticReflection.cs"),
            Include (@"mrange/T4Include/master/Reflection/ClassDescriptor.cs"),
            Include (@"mrange/T4Include/master/Common/Log.cs"),
            Include (@"mrange/T4Include/master/Common/ConsoleLog.cs"),
            Include (@"mrange/T4Include/master/Hron/HRONSerializer.cs"),
            Include (@"mrange/T4Include/master/Hron/HRONObjectSerializer.cs"),

            // Stackexchange Dapper
            Include (@"StackExchange/dapper-dot-net/master/Dapper%20NET40/SqlMapper.cs"),
        };
#>

<#@ include file="$(SolutionDir)\packages\T4Include.1.1.2\T4\IncludeWebFile.ttinclude" #>